/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
/* Style the HR */
.active-hr {
  display: flex;
  height: 3px;
  width: 100%;
  /* text-align: center; */
  background-color: #004cff;
  border: none;
  margin-top: 2px;
  transition: all 0.3s ease;
}


.navbar {
  position: fixed;
  width: 100%;
  height: 70px;
  top: 0;
  z-index: 1000;
  background: radial-gradient(circle at top left,
      rgba(206, 134, 251, 0.3) 15%,
      transparent 50%),
    radial-gradient(circle at top right,
      rgba(206, 134, 251, 0.3) 15%,
      transparent 50%),
    radial-gradient(circle at center,
      rgba(206, 134, 251, 0.3) 10%,
      transparent 50%),
    rgba(255, 255, 255, 0.9);
  background-color: #fff;
}

.navbar-container {
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 80%;
  height: 70px;
  margin: auto;
}

.logo img {
  height: 70px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2px;
  text-transform: capitalize;
  font-size: 1.1rem;
}

.nav-links li a {
  text-decoration: none;
  color: #0000008d;
  font-weight: 500;
  padding: 8px 12px;
  border-radius: 6px;
  transition: all 0.3s ease;
  /* font-family: sans-serif; */
}

.nav-links li:hover {
  transform: scale(1.2);
  transition: all 0.3s;
}

.nav-links li a.active-link {
  color: #004cffb9;
  font-weight: 600;
  border-radius: 50px;
}

/* .auth-buttons {
  text-transform: capitalize;
  font-size: 1.2rem;
} */

.login {
  text-decoration: none;
  color: #222;
  font-weight: 500;
}

.header-btn {
  font-size: 1.1rem;
  padding: 5px;
  padding-left: 7px;
  padding-right: 7px;
  border-radius: 50px;
  text-decoration: none;
  text-transform: capitalize;
  font-weight: 500;
  transition: 0.3s;
  width: 120px;
  height: 40px;
  outline: none;
  border: none;
  background-color: #6a0dad;
}

.header-btn:hover {
  font-size: 1.2rem;
  background: #5900b3;
  color: #fff;
  transform: scale(1.1);
  transition: ease-out 0.3s;
}

.btn-active-link {
  color: #fff;
  background-color: #007bff;
}

.menu-icon {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
}

/* Responsive */
@media screen and (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .auth-buttons {
    display: none;
  }

  .menu-icon {
    display: block;
  }
}

.hero {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 170px 20px 20px 20px;
  background:
    /* radial-gradient(circle at top left, rgba(206, 134, 251, 0.3) 15%, transparent 50%),
    radial-gradient(circle at top right, rgba(206, 134, 251, 0.3) 15%, transparent 50%), */
    /* radial-gradient(circle at center, rgba(206, 134, 251, 0.3) 10%, transparent 50%),
    rgba(255, 255, 255, 0.9); */
    /* background: */
    /* linear-gradient(-10deg, #cda8f7, transparent); */
    radial-gradient(closest-side,
      rgba(206, 134, 251, 0.2) 10%,
      transparent 100%);
}

.hero::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  /* background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #ffffff); */
}

.hero h1 {
  font-size: 2.8rem;
  max-width: 900px;
  margin: 0 auto 20px;
  line-height: 1.4;
  text-transform: capitalize;
}

.highlight {
  color: #6a0dad;
}

.hero p {
  font-size: 1.1rem;
  color: #555;
  max-width: 600px;
  margin: 0 auto 30px;
}

.cta-btn {
  background: #6a0dad;
  color: #fff;
  padding: 12px 30px;
  border: none;
  border-radius: 6px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background 0.3s ease;
  margin-top: 20px;
}

.cta-btn:hover {
  background: #5900b3;
}

/* Stats Section */
.stats {
  display: flex;
  justify-content: center;
  gap: 60px;
  padding: 60px 20px;
  background: transparent;
  text-align: center;
  margin-top: 20px;
}

.stat-item h2 {
  font-size: 2rem;
  color: #6a0dad;
}

.stat-item p {
  font-size: 1rem;
  color: #666;
  margin-top: 8px;
}