/* NoomoHeroFull.css */

.noomo-hero-section {
   /* border: 1px solid red; */
  width: 100%;
  height: 80vh;
  background: radial-gradient(circle at top left, #f3e7ff, #fbeaff, #e0f1ff, #ffece6, #ffffff);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5vw;
  box-sizing: border-box;
}

.noomo-hero-left {
  font-size: 4rem;
  font-weight: 800;
  line-height: 1.1;
  color: #000;
  flex: 1;
}

.noomo-hero-left span {
  color: rgba(0, 0, 0, 0.1);
}

.noomo-hero-right {
  flex: 1;
  padding-left: 50px;
  font-size: 1.01rem;
  color: #333;
  line-height: 1.6;
  max-width: 500px;
  /* border: 1px solid red; */
  position: relative;
  bottom: 20px;
}
